<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   
    <h1>The Home Page <%= 2+3 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eum.
        Vel cupiditate corrupti labore ad accusamus, earum impedit sequi veniam voluptatum dicta, maxime exercitationem
        quam eveniet quasi? Omnis, aut. Enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nostrum a, illo est ducimus iusto, quasi et delectus
        natus placeat eos quisquam fugit rerum?
        Rerum eius repellat rem nulla nisi!Quibusdam ipsam ducimus inventore sunt officia minus incidunt dicta
        doloremque ratione aut nobis dolorum, blanditiis deserunt dolor repudiandae natus laboriosam tempora eligendi
        iste repellendus earum a, fugit molestiae. Tempora, tenetur.</p>

</body>

</html> 